@import "./variables";
@mixin openedMixin {
  background-color: #2680D9;
  width: $drawer-width;
  transition: width cubic-bezier(0.4, 0, 0.6, 1) 225ms;
  overflow-x: hidden;

  @media (max-width: 1024px) {
    width: $drawer-width-laptop;
  }
}

@mixin closedMixin {
  background-color: #2680D9;
  transition: width cubic-bezier(0.4, 0, 0.6, 1) 195ms;
  overflow-x: hidden;
  width: calc(79px + 1px);
}


